/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h2{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Formulários */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Lista de Contatos */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
}

/* Rótulos e campos de entrada */
label, input {
    display: block;
    margin-bottom: 10px;
}
